# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.PlanetExpress-XR.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rotmg\Documents\GitHub\Laboratoire-Prototype\PlanetExpress-XR\.idea\.idea.PlanetExpress-XR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
