# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PlanetExpress-MRTK2.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rotmg\Documents\GitHub\Laboratoire-Prototype\PlanetExpress-MRTK2\.idea\.idea.PlanetExpress-MRTK2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
